{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    PART III – PAYMENT
{% endblock %}

{% block content %}
<p>
    <b>Payment</b><br><br>
At the end of the experiment, you will receive £5.00 as a reimbursement of your time regardless of your choices during the experiment. We will then randomly select one section, one question within the section, and one value of the probability of success p. We will check which Bag you have chosen in the question/session selected with the probability p. If you have chosen Bag K, we will randomly draw a ball from Bag K which contains 100 balls and exactly p are coloured in the question/session selected. If you have chosen Bag U, we will randomly draw a ball from Bag U which contains 100 balls of up to ten colours and nobody in the room knows the distribution of colours. If the ball is coloured as chosen in the question/session selected, then you win £20 or the amount specified in the selected treatment; otherwise, you do not win. This amount is additional to the show-up payment.
</p>
<p><b>
    If you do not agree with or understand this mechanism please call the experimenter now.
</b></p>
    {% next_button %}

{% endblock %}
