{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    PART II – THE EXPERIMENT – EXAMPLE TO PRACTICE
{% endblock %}

{% block content %}
<p>
    Each part consists of the following steps
</p>
<p>
    1. <u>Choose the options</u> (in this example, colours) you want to bet on (you may bet on 1, 3, or 5 colours).
</p>
<p>
    2. You win if any of your chosen colours are drawn. For each percentage of win (expressed in increments of ten), you have to choose between two bags.
A Known Bag (K): Contains 100 balls and exactly p of them are your chosen colours. Therefore, the probability of success is p%.
An Unknown Bag (U): Contains 100 balls with possibly up to 10 colours and the distribution of colours is unknown. Therefore, you do not know the probability of success.
    <br>
    <br>
    For example, if p = 100, you will most likely prefer Bag K because all balls are coloured and you are then guaranteed to win £{{ pay }}.
Alternatively, if p = 0, you will most likely prefer Bag U as you might win something, whereas no balls in Bag K are coloured so there is no chance to win with Bag K.
</p>
<p>
    3. You are asked to choose between Bag K or Bag U based on the composition of balls within Bag K.
</p>
<p>
    4. <u>We draw a ball from the Bag you have chosen.</u> If the ball is coloured, then you win £{{ pay}}, otherwise you do not win. The composition of the bags are randomly determined before the experiment begins and kept secret until the end of the experiment. Nobody in the room, including the experimenters, know the composition of the bags.
</p>
<p>
    5. <u>We repeat steps 1—3 but this time selecting coloured balls results in a loss,</u> that is you win if the drawn ball is NOT your chosen colour.
</p>
<p><b>Let’s practise with an example (follow instructions on the screen).</b></p>
<p>
    <img src="{% static "baseline/intro1.png" %}" height="400">
</p>
<p>
    <img src="{% static "baseline/intro2.png" %}" height="430">
    <img src="{% static "baseline/intro3.png" %}" height="700">
</p>


    {% next_button %}

{% endblock %}
