{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    PART I – PRELIMINARY INSTRUCTIONS
{% endblock %}

{% block content %}
<p>
    <b>Welcome</b> and thank you for taking part in our experiment.
</p>
<p>
    <b>Please keep silent</b> and do not interact with any other participant until the experiment ends. You will need to use the mouse to participate and you can use the paper and pencil that are provided on your desk to take notes. It is forbidden to use any other unauthorised material such as phones. Please turn off your mobile phone and put it in your personal bag
</p>
<p>
    <b>Please type the ID number</b> you have received and keep this number as it is necessary to be paid at the end of the experiment.
</p>
<p>
    <b>The experiment consists</b> of several parts. In each part, you will be asked to choose between two options. One option has a given probability of success, while the other option has an unknown probability of success. The probability reflects the percentage of success of a specified outcome. You will choose your preferred options for a number of values of the probability of success. The outcome and your choice determines your monetary gains which can be up to £20 in addition to the reimbursement of your time for taking part in today’s experiment. There are no right or wrong answers and your answers may be different from the other people’s. Once you make your choice, press “Continue” and wait in silence.
</p>
<p>
    <b>Your personal identity will never be revealed</b> even after the end of the experiment and conclusion of our research. Your choices and answers will be securely and anonymously stored by the research team only.
</p>
<p>
    <b>Remember that you are free to quit</b> the experiment at any time and this will not have any impact on the payment to reimburse you for your time. If you feel any form of discomfort during the experiment or should you have any questions please inform the experimental researchers.
</p>
    {% next_button %}

{% endblock %}
