{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% if player.round_number == 1 %}
    Practice
{% endif %}
{% endblock %}

{% block content %}
<p>
    Now, please choose the value p within the ten you have chosen before.
</p>

<table border="1" style="text-align:center;">
    <tr>
        <th colspan="2">Number of balls in Bag K</th>
        <th rowspan="3" >&emsp;&emsp;&emsp;&emsp;K&emsp;</th>
        <th rowspan="3" >&emsp;&emsp;&emsp;&emsp;U&emsp;</th>
        <th colspan="2">Number of balls in Bag U</th>

</tr>
<tr>
    <th>Outcome if balls drawn from here: <br>{{ prize }}</th>
    <th>Outcome if balls drawn from here: <br>{{ lose }}</th>
    <th>Outcome if balls drawn from here: <br>{{ prize }}</th>
    <th>Outcome if balls drawn from here: <br>lose</th>
</tr>
<tr>
    <th>Number of balls of colours<br> {{ cols }}</th>
    <th>Number of balls of <br>the other colours</th>
    <th>Number of balls of colours<br>{{ cols }}</th>
    <th>Number of balls of <br>the other colours</th>
</tr>
    <tr>
        <th>0</th>
        <th>100</th>
        {% if player.K0 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U0 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}
        <th rowspan="20">Unknown</th>
        <th rowspan="20">Remaining (100 – Unknown)</th>
    </tr>
    <tr>
        <th>10</th>
        <th>90</th>
        {% if player.K1 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U1 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}

    </tr>
    {% if player.ten == 10 %}

    {% endif %}
    <tr>
        <th>20</th>
        <th>80</th>
        {% if player.K2 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U2 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}
    </tr>

    {% if player.ten == 20 %}


    {% endif %}
    <tr id="30">
        <th>30</th>
        <th>70</th>
        {% if player.K3 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U3 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}
    </tr>
    {% if player.ten == 30 %}

    {% endif %}
    <tr id="40">
        <th>40</th>
        <th>60</th>
        {% if player.K4 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U4 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}
    </tr>


    <tr>
        <th>50</th>
        <th>50</th>
        {% if player.K5 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U5 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}

    </tr>
    <div id="tens4">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" class="ten" name="ten1" id="id_41k" /> Bag K</label></th>
        <th><label><input type="checkbox" class="ten" name="ten1U" id="id_41u" /> Bag U</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" class="ten" id="id_42k" /> Bag K</label></th>
        <th><label><input type="checkbox" name="ten2U" class="ten" id="id_42u" /> Bag U</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" class="ten" id="id_43k" /> Bag K</label></th>
        <th><label><input type="checkbox" name="ten3U" class="ten" id="id_43u" /> Bag U</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" class="ten" id="id_44k" /> Bag K</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_44u" class="ten"/> Bag U</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten5" id="id_45k" class="ten"/> Bag K</label></th>
        <th><label><input type="checkbox" name="ten5U" id="id_45u" class="ten"/> Bag U</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten6" id="id_46k" class="ten"/> Bag K</label></th>
        <th><label><input type="checkbox" name="ten6U" id="id_46u" class="ten"/> Bag U</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten7" id="id_47k" class="ten"/> Bag K</label></th>
        <th><label><input type="checkbox" name="ten7U" id="id_47u" class="ten"/> Bag U</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten8" id="id_48k" class="ten"/> Bag K</label></th>
        <th><label><input type="checkbox" name="ten8U" id="id_48u" class="ten"/> Bag U</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten9" id="id_49k" class="ten"/> Bag K</label></th>
        <th><label><input type="checkbox" name="ten9U" id="id_49u" class="ten"/> Bag U</label></th>
    </tr>
    </div>
    <tr>
        <th>60</th>
        <th>40</th>
        {% if player.K6 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U6 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}

    </tr>
    {% if player.ten == 60 %}

    {% endif %}
    <tr>
        <th>70</th>
        <th>30</th>
        {% if player.K7 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U7 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}
    </tr>
    {% if player.ten == 70 %}

    {% endif %}
    <tr>
        <th>80</th>
        <th>20</th>
        {% if player.K8 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U8 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}

    </tr>
    {% if player.ten == 80 %}
    {% endif %}
    <tr>
        <th>90</th>
        <th>10</th>
        {% if player.K9 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U9 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}

    </tr>
    {% if player.ten == 90 %}

    {% endif %}
    <tr>
        <th>100</th>
        <th>0</th>
        {% if player.K10 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag K</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag K</label></th>
        {% endif %}
        {% if player.U10 == True %}
            <th><label><input type="checkbox" checked="checked" disabled/> Bag U</label></th>
        {% else %}
            <th><label><input type="checkbox" disabled/> Bag U</label></th>
        {% endif %}

    </tr>
</table>
</p>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript">
        function allFalse() {
            $("#id_41k").prop("checked", false);
            $("#id_42k").prop("checked", false);
            $("#id_43k").prop("checked", false);
            $("#id_44k").prop("checked", false);
            $("#id_45k").prop("checked", false);
            $("#id_46k").prop("checked", false);
            $("#id_47k").prop("checked", false);
            $("#id_48k").prop("checked", false);
            $("#id_49k").prop("checked", false);

        }
        function allFalseU() {
            $("#id_41u").prop("checked", false);
            $("#id_42u").prop("checked", false);
            $("#id_43u").prop("checked", false);
            $("#id_44u").prop("checked", false);
            $("#id_45u").prop("checked", false);
            $("#id_46u").prop("checked", false);
            $("#id_47u").prop("checked", false);
            $("#id_48u").prop("checked", false);
            $("#id_49u").prop("checked", false);
        }

        $(document).ready(function(){
            $('#id_41u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", true);
                        $("#id_43k").prop("checked", true);
                        $("#id_44k").prop("checked", true);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);

                        $("#id_42u").prop("checked", false);
                        $("#id_43u").prop("checked", false);
                        $("#id_44u").prop("checked", false);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                    }
                    if ($(this).is(':checked') == false) {
                        allFalse();
                        allFalseU();
                    }
            });
            $('#id_42u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", true);
                        $("#id_44k").prop("checked", true);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);

                        $("#id_41u").prop("checked", true);
                        $("#id_43u").prop("checked", false);
                        $("#id_44u").prop("checked", false);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_43u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", true);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);

                        $("#id_42u").prop("checked", true);
                        $("#id_41u").prop("checked", true);
                        $("#id_44u").prop("checked", false);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_44u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);

                        $("#id_42u").prop("checked", true);
                        $("#id_41u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_45u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);

                        $("#id_42u").prop("checked", true);
                        $("#id_41u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_46u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", false);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);

                        $("#id_42u").prop("checked", true);
                        $("#id_41u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_47u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", false);
                        $("#id_47k").prop("checked", false);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);

                        $("#id_42u").prop("checked", true);
                        $("#id_41u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_46u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_48u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", false);
                        $("#id_47k").prop("checked", false);
                        $("#id_48k").prop("checked", false);
                        $("#id_49k").prop("checked", true);

                        $("#id_42u").prop("checked", true);
                        $("#id_41u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_46u").prop("checked", true);
                        $("#id_47u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_49u").prop("checked", false);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_49u').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", false);
                        $("#id_47k").prop("checked", false);
                        $("#id_48k").prop("checked", false);
                        $("#id_49k").prop("checked", false);

                        $("#id_42u").prop("checked", true);
                        $("#id_41u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_46u").prop("checked", true);
                        $("#id_47u").prop("checked", true);
                        $("#id_48u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_41k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", false);
                        $("#id_42u").prop("checked", false);
                        $("#id_43u").prop("checked", false);
                        $("#id_44u").prop("checked", false);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_42k").prop("checked", true);
                        $("#id_43k").prop("checked", true);
                        $("#id_44k").prop("checked", true);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_42k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", false);
                        $("#id_43u").prop("checked", false);
                        $("#id_44u").prop("checked", false);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_43k").prop("checked", true);
                        $("#id_44k").prop("checked", true);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_43k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", true);
                        $("#id_43u").prop("checked", false);
                        $("#id_44u").prop("checked", false);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_44k").prop("checked", true);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_44k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_44u").prop("checked", false);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_45k").prop("checked", true);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_45k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", false);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_46k").prop("checked", true);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_46k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_46u").prop("checked", false);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_47k").prop("checked", true);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_47k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_46u").prop("checked", true);
                        $("#id_47u").prop("checked", false);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", false);
                        $("#id_48k").prop("checked", true);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_48k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_46u").prop("checked", true);
                        $("#id_47u").prop("checked", true);
                        $("#id_48u").prop("checked", false);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", false);
                        $("#id_47k").prop("checked", false);
                        $("#id_49k").prop("checked", true);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });
            $('#id_49k').change(function(){
                    if ($(this).is(':checked')) {
                        $("#id_41u").prop("checked", true);
                        $("#id_42u").prop("checked", true);
                        $("#id_43u").prop("checked", true);
                        $("#id_44u").prop("checked", true);
                        $("#id_45u").prop("checked", true);
                        $("#id_46u").prop("checked", true);
                        $("#id_47u").prop("checked", true);
                        $("#id_48u").prop("checked", true);
                        $("#id_49u").prop("checked", false);

                        $("#id_41k").prop("checked", false);
                        $("#id_42k").prop("checked", false);
                        $("#id_43k").prop("checked", false);
                        $("#id_44k").prop("checked", false);
                        $("#id_45k").prop("checked", false);
                        $("#id_46k").prop("checked", false);
                        $("#id_47k").prop("checked", false);
                        $("#id_48k").prop("checked", false);
                    }
                    if ($(this).is(':checked') == false) {
                        allFalseU();
                        allFalse();
                    }
            });

        });
                 </script>

{% if player.round_number == 1 %}
<p>
    Here you are asked to choose the precise value p, that is the probability of success that would make you choose Bag K for that probability or higher and Bag U otherwise. Once again, this means that if there are more than p balls in Bag K, we will draw the ball from Bag K and you will win {{ prize }} with probability p% and nothing otherwise; if there are less than p balls, we will draw the ball from Bag U and you will win {{ prize }} with unknown probability.
</p>
<p>
    <b>
        If you do not agree with or understand this mechanism please call the experimenter now.
    </b>

</p>
{% endif %}
    {% next_button %}

{% endblock %}
