{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

    {% next_button %}

{% endblock %}

<div id="tens9">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_ten11" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten15" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten16" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten17" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>
<div id="tens8">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_ten11" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten15" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten16" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten17" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>
<div id="tens7">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_ten11" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten15" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten16" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten17" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>
 <div id="tens6">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_ten11" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten15" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten16" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten17" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>
<div id="tens5">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_ten11" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten15" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten16" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten17" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>
<div id="tens3">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_ten11" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten15" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten16" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten17" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>
<div id="tens2">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_t11k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten15" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten16" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten17" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>
<div id="tens1">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="t11k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="t11u" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="t12k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="t12u" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="t13k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="t13u" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="t14k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="t14u" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="t15k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="t15u" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="t16k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="t16u" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="t17k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="t17u" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_t18k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_t18u" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_t19k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_t19u" /> ten2</label></th>
    </tr>
    </div>
 <div id="tens1">
     <div id="tens1">
    <tr>
        <th>{{ ten1 }}</th>
        <th>{{ ten1_comp }}</th>
        <th><label><input type="checkbox" name="ten1" id="id_ten11k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten1U" id="id_ten11U" /> ten2</label></th>
    </tr>
        <tr>
        <th>{{ ten2 }}</th>
        <th>{{ ten2_comp }}</th>
        <th><label><input type="checkbox" name="ten2" id="id_ten12k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten2U" id="id_ten12U" /> ten2</label></th>
    </tr>
    <tr>
        <th>{{ ten3 }}</th>
        <th>{{ ten3_comp }}</th>
        <th><label><input type="checkbox" name="ten3" id="id_ten13k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten3U" id="id_ten13U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten4 }}</th>
        <th>{{ ten4_comp }}</th>
        <th><label><input type="checkbox" name="ten4" id="id_ten14k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten4U" id="id_ten14U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten5 }}</th>
        <th>{{ ten5_comp }}</th>
        <th><label><input type="checkbox" name="ten5" id="id_ten15k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten5U" id="id_ten15U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten6 }}</th>
        <th>{{ ten6_comp }}</th>
        <th><label><input type="checkbox" name="ten6" id="id_ten16k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten6U" id="id_ten16U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten7 }}</th>
        <th>{{ ten7_comp }}</th>
        <th><label><input type="checkbox" name="ten7" id="id_ten17k" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten7U" id="id_ten17U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten8 }}</th>
        <th>{{ ten8_comp }}</th>
        <th><label><input type="checkbox" name="ten8" id="id_ten18" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten8U" id="id_ten18U" /> ten2</label></th>
    </tr>
    </tr>
        <tr>
        <th>{{ ten9 }}</th>
        <th>{{ ten9_comp }}</th>
        <th><label><input type="checkbox" name="ten9" id="id_ten19" /> ten1</label></th>
        <th><label><input type="checkbox" name="ten9U" id="id_ten19U" /> ten2</label></th>
    </tr>
    </div>